<div class="artist-information">
    <div class="artist-information__container">
        <h1>{{ artist.name }}</h1>
        <div class="artist-information__container__images">
            {% for image in artist.images %}
                <img src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}">
            {% endfor %}
        </div>
        <div class="artist-information__container__details">
            <ul>
                <li><h3>Followers</h3><p>{{ artist.followers.total }}</p></li>
                <li><h3>Genres</h3>
                    <ul>
                        {% for genre in artist.genres %}

                            <li>{{ genre }}</li>

                        {% endfor %}
                    </ul>
                </li>
                <li><h3>Url</h3><a  target="_blank" href="{{ artist.external_urls.spotify }}">{{ artist.external_urls.spotify }}</a></li>
                <li><h3>Popularity</h3><p>{{ artist.popularity }}</p></li>
            </ul>
        </div>
    </div>
</div>