{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="artist-selection-block">
    <div class="artist-selection-block__container">
        <ul class="artist-selection-block__container__artist-list">
            {% for artist in artists %}
                <li class="artist-selection-block__container__artist-list__item">
                    <a href="/spotify-artist/{{ artist.id }}">{{artist.name}}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>

</div>
